nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
	.container
		a.navbar-brand.js-scroll-trigger(href='#page-top') Jeu Back End
		button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
			| Menu
			i.fas.fa-bars
		#navbarResponsive.collapse.navbar-collapse
			ul.navbar-nav.text-uppercase.ml-auto
				li.nav-item
					a.nav-link.js-scroll-trigger(href='#canvas') Jeu
				li.nav-item
					a.nav-link.js-scroll-trigger(href='#high-scores') High-Scores