doctype html
head
	include includes/head.pug
// Header
body
	div#page-content
		// Navigation
		include includes/nav.pug
		header.masthead
			h1#user Hello #{pseudo}
			p
				h5#instructions Instructions
				h5#timer Temps : #{joueur1}
		.container.text-center
			img#tuto(src="./img/tuto.png")
			canvas#canvas()
		.container.text-center
			h5#infos Le jeu débute lorsque les 2 joueurs sont connectés et que l'un d'eux clique sur "ready"
			div#ready
				btn ready
			div#reset
				btn reset
			hr
		.container.text-center
			h2#high-scores High-Scores
			h5(style="color: white") MAJ toutes les 5 secondes
			div#liste(style="margin-top: 25px")
	p#token(style="display: none") #{tokenWs} 
	// Bootstrap core JavaScript
	script(src='vendor/jquery/jquery.min.js')
	script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
	// Plugin JavaScript
	script(src='vendor/jquery-easing/jquery.easing.min.js')
	// Custom scripts for this template
	script(src='js/agency.min.js')
	// Socket io
	script(src='/socket.io/socket.io.js')
	// Jeu
	script(src='./js/game.js')
	script(src='./js/script.js')