doctype html
head
	include includes/head.pug
// Header
body
	div#page-content
		// Navigation
		include includes/nav.pug
		header.masthead
			h1(style="margin-bottom: 25px") Hello #{pseudo}
			p
				span Temps : #{joueur1} 
			h3 Le jeu débutera lorsque les 2 joueurs seront prêts
		.container.text-center
			canvas#canvas()
		.container.text-center
			div#reset
				btn reset
	p#token(style="display: none") #{tokenWs} 
	//- include includes/footer.pug
	// Bootstrap core JavaScript
	script(src='vendor/jquery/jquery.min.js')
	script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
	// Plugin JavaScript
	script(src='vendor/jquery-easing/jquery.easing.min.js')
	// Custom scripts for this template
	script(src='js/agency.min.js')
	// Socket io
	script(src='/socket.io/socket.io.js')
	// Jeu
	script(src='./js/game.js')
	script(src='./js/script.js')